<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-custom-nav">
            <i class="fas fa-align-left"></i>
            <span>Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle mr-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                          <img class="rounded-circle" width="30" height="30" src="{{ user.profile.image.url }}">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item text-dark" href="{% url 'profile' %}">Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-dark" href="{% url 'logout' %}">Logout</a>
                        </div>
                      </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>