<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Neighbourhood</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active"><a href="/" class="text-dark">Home</a></li>
        <li class="nav-item active"><a href="{% url 'hood' %}" class="nav-link text-dark">Neighbourhood</a></li>
        <li class="active"><a href="{% url 'map' %}" class="text-dark">Map</a></li>

        <p class="side-subtitle" style="color: rgb(39, 170, 128); font-size: 18px">Categories</p>
        <li class="active"><a href="#" class="text-dark">For sale & free</a></li>
        <li class="active"><a href="#" class="text-dark">Events</a></li>
        <li class="active"><a href="#" class="text-dark">Crime and safety</a></li>
        <li class="active"><a href="#" class="text-dark">Lost and Found</a></li>

        <p class="side-subtitle" style="color: rgb(39, 170, 128); font-size: 18px">Groups</p>
        <li class="active"><a href="#" class="text-dark">All Groups</a></li>
        <li class="active"><a href="#" class="text-dark">All Neighbours</a></li>
    </ul>
</nav>